# Python
venv/
.venv311/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

#Other
.cache/face_encodings.npz

# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.env
